In [2]:
from statistics import *

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list
ages.sort()

# Find min and max age in the ages list
min_age = min(ages)
max_age = max(ages)

# Add min and max age to the list
ages.extend([min_age, max_age])

# Find the median age
median_age = median(ages)

# Find average age
average_age = mean(ages)

# Find range of ages
age_range = max_age - min_age

# Print the results
print("Sorted Ages:", ages)
print("Min Age:", min_age)
print("Max Age:", max_age)
print("Median Age:", median_age)
print("Average Age:", average_age)
print("Age Range:", age_range)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Min Age: 19
Max Age: 26
Median Age: 24.0
Average Age: 22.75
Age Range: 7

In [7]:
dog ={}
dog["name"] = "tom"
dog["age"] = 23
dog["color"]="blue"
dog["breed"] = "lab"
dog["legs"] = 4
print(dog)

student_dr = {
"first_name": "Sai",
    "last_name": "Peesari",
    "gender": "Male",
    "age": 21,
    "marital_status": "Single",
    "skills": ["Python", "Java", "Web Development"],
    "country": "USA",
    "city": "Warrensberg",
    "address": "313 B Jackson"
}
print(student_dr)

dict_length = len(student_dr)
print("the lenght of the student directory is:" , dict_length)

# Get the value of skills and check its data type
skills_value = student_dr["skills"]
if (skills_value, list):
    print("Skills is a list:", skills_value)
else:
    print("Skills is not a list")

# Modify the skills values by adding one or two skills
new_skills = ["Data Science", "Machine Learning"]
student_dr["skills"].extend(new_skills)

# Get the dictionary keys as a list
keys_list = list(student_dr.keys())
print("Dictionary keys:", keys_list)

# Get the dictionary values as a list
values_list = list(student_dr.values())
print("Dictionary values:", values_list)

{'name': 'tom', 'age': 23, 'color': 'blue', 'breed': 'lab', 'legs': 4}
{'first_name': 'Sai', 'last_name': 'Peesari', 'gender': 'Male', 'age': 21, 'marital_status': 'Single', 'skills': ['Python', 'Java', 'Web Development'], 'country': 'USA', 'city': 'Warrensberg', 'address': '313 B Jackson'}
the lenght of the student directory is: 9
Skills is a list: ['Python', 'Java', 'Web Development']
Dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary values: ['Sai', 'Peesari', 'Male', 21, 'Single', ['Python', 'Java', 'Web Development', 'Data Science', 'Machine Learning'], 'USA', 'Warrensberg', '313 B Jackson']

In [8]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
set_lenght =len(it_companies)
print(set_lenght)
it_companies.add("Twitter")
it_companies.update(["IBM", "acenter", "Amazon"]) # using the update method to insert  multiple elements to a set, you need to provide the elements as an list.
it_companies.remove("Facebook")

print(it_companies)
  # Both the remove() and discard() methods are used to remove elements from a set in Python, but there's a key difference in how they handle the situation when the element is not found in the set:
  # The remove() method is used to remove a specified element from the set.
 #If the element is not found in the set, it raises a KeyError indicating that the element is not present.
  # However the discard is also used to remove elements from the set but If the element is not found in the set, it does nothing and doesn't raise an error. It silently ignores the operation.

union_set = A.union(B)
print("Union of A and B:", union_set)

# Find A intersection B
intersect_set = A.intersection(B)
print("Intersection of A and B:", intersect_set)

# Check if A is a subset of B
is_subset = A.issubset(B)
print("A is a subset of B:", is_subset)

# Check if A and B are disjoint sets
are_disjoint = A.isdisjoint(B)
print("A and B are disjoint sets:", are_disjoint)

# Join A with B and B with A
A.update(B)
B.update(A)
print("Joined A:", A)
print("Joined B:", B)

# Find symmetric difference between A and B
symmetric_difference = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference)

# Delete the sets A and B completely
del A
del B

# Convert ages list to a set and compare lengths
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages_set = set(ages)
print("Length of ages list:", len(ages))
print("Length of ages set:", len(ages_set))

7
{'IBM', 'Twitter', 'acenter', 'Amazon', 'Apple', 'Oracle', 'Microsoft', 'Google'}
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
A is a subset of B: True
A and B are disjoint sets: False
Joined A: {19, 20, 22, 24, 25, 26, 27, 28}
Joined B: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: set()
Length of ages list: 10
Length of ages set: 6

In [7]:

class Employee:
    total_employees = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.total_employees += 1 # incrementing the employee count


    def average_salary(salaries):
        return sum(salaries) / len(salaries)

class FulltimeEmployee(Employee):
  pass #class doesn't have any additional methods or properties of its own

# Creating instances of Employee and FulltimeEmployee classes
employee1 = Employee("John Doe", "Family 1", 60000, "HR")
employee2 = Employee("Jane Smith", "Family 2", 75000, "Finance")
employee3 = Employee("Michael Johnson", "Family 3", 80000, "IT")
fulltime_employee1 = FulltimeEmployee("Alex Brown", "Family 4", 90000, "Marketing")
fulltime_employee2 = FulltimeEmployee("Emily White", "Family 5", 72000, "Operations")

# Calling member functions
salaries = [employee1.salary, employee2.salary, employee3.salary, fulltime_employee1.salary, fulltime_employee2.salary]
avg_salary = Employee.average_salary(salaries)
print("Average Salary:", avg_salary)

print("Total Employees:", Employee.total_employees)

avg_salary = Employee.average_salary(salaries)
print("Average Salary:", avg_salary)

print("Total Employees:", Employee.total_employees)

Average Salary: 75400.0
Total Employees: 5
Average Salary: 75400.0
Total Employees: 5